{% extends ('pagetype.html.twig') %}

{% block main %}
    <div class="container container-mentions">
        <div class="row">
            <div class="col-12 ">
                <a href="https://www.youtube.com/watch?v=D5pKrSblPNA" ><img src="{{asset('build/images/lequipe.jpg')}}" alt="l'equipe" class="image-equipe"></a>
           </div>
        </div>
    </div>
{% endblock %}